#main-card {
  width: 50%;
  padding-top: 70px;
}

.main-container {
  margin-top: 70px;
}

#navbar-principal {
  background-color: #114b5f !important;
}
.font-match {
  font-family: "Merriweather", serif !important;
}
.logo {
  font-size: 1.5rem;
}
body {
  font-family: "Montserrat", sans-serif;
}
.white-text {
  color: white !important;
}
button:not(.close) {
  background-color: #f25c78 !important;
  border-color: #f25c78 !important;
  color: white !important;
}

.button-outline {
  margin: 0.5rem !important;
  background-color: white !important;
  border-color: #f25c78 !important;
  color: #f25c78 !important;
}
.card-header {
  background-color: #a1bf34;
}
.card-header a {
  color: black;
}
.card-content {
  max-height: 62vh;
}
.card-content2 {
  height: 62vh;
}
.user-title {
  padding: 1rem;
}
.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1vh;
}
button:not(.close).secondary-button {
  height: auto;
  width: auto;
  margin: initial;
  padding: 0px 0 2px 0;
  color: #f25c78 !important;
  border-color: white !important;
  background-color: white !important;
}
.svg-inline--fa {
  align-items: center;
  display: flex;
}
.sub-card {
  max-width: 35vw;
  margin: 2vh auto;
}
.sub-sub-card {
  max-width: 30vw;
  margin: 2vh auto;
}
.graph-card {
  width: 40vw;
  margin: 2vh auto;
}
.chart-wrapper {
  padding: 2%;
  width: 96%;
  display: inline-block;
}
.card-header,
.modal-body,
.card-body:not(#register) {
  text-align: center;
}

.badge {
  background-color: #114b5f;
  color: white;
}

.nav-item {
  display: flex;
  align-items: center;
}
.alert-heading {
  font-size: 0.8rem;
  height: 0.8rem;
  margin: 0;
}
.alert-danger {
  margin: 0 8px;
}
.alert-danger .close {
  padding-top: 0;
  padding-right: 4px;
}

body {
  background: linear-gradient(
      0deg,
      rgba(20, 20, 26, 0.7),
      rgba(19, 18, 18, 0.7)
    ),
    url("/images/frutas.jpg");
  background-size: cover;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

#formBasicRange {
  background: #f20345;
  background: linear-gradient(
    90deg,
    #f20345 0%,
    #f2bc1b 16%,
    #74bf04 28%,
    #f2bc1b 36%,
    #f20345 80%
  );
}

/*Preferences styling*/
.preferences-check {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.form-check [type="checkbox"] {
  background: #f25c78;
  border-radius: 50px;
  position: relative;
}
