#main-card {
  width: 50%;
  padding-top: 1%;
}

#navbar-principal {
  background-color: #114b5f !important;
}

.white-text {
  color: white !important;
}
button:not(.close) {
  background-color: #1a936f !important;
  border-color: #1a936f !important;
  color: white !important;
}

.button-outline {
  margin: 0.5rem !important;
  background-color: white !important;
  border-color: #1a936f !important;
  color: #1a936f !important;
}
.card-content {
  max-height: 65vh;
}

.subtitle {
  font-size: 1.5rem;
}
.secondary-button {
  height: 1.8rem;
  margin: auto;
}
.sub-card {
  max-width: 35vw;
  margin: 2vh auto;
}
.graph-card {
  width: 45vw;
  margin: 2vh auto;
}
.chart-wrapper {
  padding: 2%;
  width: 96%;
  display: inline-block;
}
.modal-body {
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
}

.svg-inline--fa {
  align-items: center;
  display: flex;
}

body {
  background: linear-gradient(
      0deg,
      rgba(20, 20, 26, 0.7),
      rgba(19, 18, 18, 0.7)
    ),
    url("/images/frutas.jpg");
  background-size: cover;
}
