/*No encontre otro sitio donde estuvieran haciendo mas estilos respecto a todos los componentes de la aplicacion, puedo estar equivocado 
por que pueden estar ahi pero si no estan recomendaria agregar mas estilos a la aplicacion. Algo que no sobra es comentar el codigo css*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
